#equipment {
  background-color: white;
  max-width: 600px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  margin-top: 16px;
  border-radius: 8px;
  padding: 16px;
  z-index: 10;
}

#equipment .equipment-title {
  letter-spacing: 1px;
  font-weight: 100;
  text-align: center;
}

#equipment .part-name {
  font-size: 1.2em;
  font-weight: 100;
  margin: 8px 0;
  letter-spacing: 1px;
}

.equipment-grocery-items,
.equipment-vehicle-items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
  gap: 16px;
}

.equipment-grocery-items .grocery-item,
.vehicle-item {
  position: relative;
  width: 60px;
  height: 60px;
  background-color: rgb(236, 234, 234);
  border-radius: 4px;
  box-shadow: inset 0px 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.equipment-grocery-items .grocery-item_active,
.equipment-vehicle-items .vehicle-item_active {
  background-color: var(--main-color);
  cursor: pointer;
}

p.item-icon {
  font-size: 4rem;
  margin: 0;
}

.item-amount {
  font-size: 2rem;
  position: absolute;
  bottom: 8px;
  right: 8px;
  border-radius: 50%;
  background-color: white;
  height: 24px;
  width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 2px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.7);
}

.vehicle-item_active img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
}
